<div class="alighment">
<input type="button" value="Initial Data ">
<br>
<br>
<input type="button" value="Feasibility Report ">
<br>
<br>
<input type="button" value="Dev Trial ">
<br>
<br>
<input type="button" value="HT Process ">
<br>
<br>
<input type="button" value="Fatigue Testing ">
<br>
<br>
<input type="button" value="submit & cust. Feedback ">
<br>
<br>
<input type="button" value="PTR ">
<br>
<br>
<input type="button" value="PTR close point ">
<br>
<br>
<input type="button" value="SOP ">
</div>