
<app-component-dashboard></app-component-dashboard>    

<div class="req" style="width:30%">
        <ul>
                <li  ><a routerLink="/development"  >New Requiry</a></li>
                <br>
                <li><a routerLink="/runningproject">Running Project</a></li>
                </ul>
        <router-outlet><a></a></router-outlet>
</div>
<div class="req1" style="width:70%">
        <a routerLink="/development/defaultform"></a>
        <router-outlet><a></a></router-outlet>
</div>

<br>

<br>
