<div class="container">
  <div class="jumbotron">
    <form #frm="ngForm" (ngSubmit)="addproject(frm)">
      Project Name:
      <div>
        <input type="text" name="project" placeholder="Type Here" [ngModel]="model.project">
      </div>
      <br> Customer Drawing Revision Number:
      <div>
        <input type="text" name="revisionNumber" placeholder="Type Here" [ngModel]="model.revisionNumber">
      </div>

      <br> Customer Drawing:
      <div>
        <input type="text" name="drawing" placeholder="type url here" [ngModel]="model.drawing">
        <span class="glyphicon glyphicon-paperclip"></span>
      </div>
      <br>
      <div>
        <button type="submit" name="button" class="btn" [ngClass]="{disabled:bool==false}">{{status}}</button>
      </div>

      <div class="shift">
        <button type="button" name="close">Close</button>
      </div>

    </form>

  </div>
</div>
{{frm.value | json}}
